<div class="story-body">
  <p>Build a portfolio website using sawhorse. This website should include:</p>
    <ul>
      <li>Two of your projects from this summer converted into D3</li>
      <li>Your "best" graphic redone as ai2html (you did this already, see Homework 01, you just need to insert it into your sawhorse template)
Host this as a live website using GitHub Pages.</li>
    </ul>

<p>It's OK for redo your ai2html project as a D3 project, just make sure it's up there both as an ai2html project and as a D3 project.</p>

<p class='note'>I didn't set this up as a portfolio because <a href="https://amyokruk.github.io/">I already have one!</a></p>

</div>