<div class="story-body">
    <h2>Misinformation is on the rise</h2>
    <p>The fact-checking website Politifact.com has evaluated over 16,500 statements from political figures. Since 2015, there's been an upswing in the number of false claims.</p>
    <div id="chart-1"></div>
</div>

<script src="scripts/chart-01.js"></script>
