<div class="story-body">
    <h2>Most of Obama's statements ring somewhat true</h2>
    <p>Based on 600 statements evaluated by Politifact, former president Barack Obama's hit on the truth more often than not</p>
    <div id="chart-2"></div>
</div>

<script src="scripts/chart-02.js"></script>
